<html lang="en" ng-app="tags">
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-controller="TagsController">
    <p>Search: <input ng-model="query"></p>
    <p>Filter: </p>
    <p><input type="checkbox" ng-model="start_end"> Start/End
    <input type="checkbox" ng-model="single_clone_region"> Single Clone Region
    <input type="checkbox" ng-model="sil_til"> SIL/TIL
    <input type="checkbox" ng-model="repeat"> Repeat
    </p>
    <ul>
        <li ng-repeat="tag in tags | filter: {text: query} | filter: filter_tags">
            <p>Type:</p>
            <p>{{ tag.type.clone_information === true ? '[X]' : '[ ]' }} Clone Information</p>
            <p>{{ tag.type.feature === true ? '[X]' : '[ ]' }} Feature</p>
            <p>Features:</p>
            <p>{{ tag.features.start_end === true ? '[X]' : '[ ]' }} Start/End</p>
            <p>{{ tag.features.single_clone_region === true ? '[X]' : '[ ]' }} Single Clone Region</p>
            <p>{{ tag.features.sil_til === true ? '[X]' : '[ ]' }} SIL/TIL</p>
            <p>{{ tag.features.repeat === true ? '[X]' : '[ ]' }} Repeat</p>
            <p><editable-braces tag-text="tag.text"></editable-braces></p>
            <button select-parent="select-parent">Select Tag</button>
        </li>
    </ul>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.14.2.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>

</html>
